.header-color {
background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
background: #040725;  /* fallback for old browsers */
}

.avatar-img {
  height: 250px;
  /* padding-top: 5em; */
  border-radius: 20%;
}

.banner-text {
  background-color: rgb(8, 8, 8);
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  letter-spacing: 1.5px;
}